# ==========================================================
# Python
# ==========================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments

venv/
.venv/
env/

# ==========================================================
# IDE
# ==========================================================

.vscode/
.idea/

# ==========================================================
# Logs
# ==========================================================

logs/
*.log

# ==========================================================
# Generated analysis files
# ==========================================================

data/raw/
data/fastq/
data/qc_raw/
data/multiqc_raw/
data/trimmed/
data/qc_trimmed/
data/multiqc_trimmed/
data/index/
data/alignments/
data/stringtie/
data/counts/
data/results/

# Keep folder structure
!data/**/.gitkeep

# ==========================================================
# User reference genomes
# ==========================================================

data/reference/*.fa
data/reference/*.fasta
data/reference/*.fna
data/reference/*.gff
data/reference/*.gff3
data/reference/*.gtf

# ==========================================================
# OS files
# ==========================================================

.DS_Store
Thumbs.db

# ==========================================================
# Jupyter
# ==========================================================

.ipynb_checkpoints/

# ==========================================================
# Temporary
# ==========================================================

*.tmp
*.temp